POSTGRES_DB=agent_studio
POSTGRES_USER=agent_studio
POSTGRES_PASSWORD=
TEMPORAL_DB_PASSWORD=
TEMPORAL_VERSION=1.29.6
TEMPORAL_ADMINTOOLS_VERSION=1.29.6
SETUP_TOKEN=
ENCRYPTION_KEY=
AGENT_WORKER_TOKEN=
BROWSER_WORKER_TOKEN=
WORKFLOW_SERVICE_TOKEN=
WORKFLOW_SERVICE_URL=http://workflow-service:8081
S3_BUCKET=agent-studio
S3_ACCESS_KEY=
S3_SECRET_KEY=
BROWSER_LOCAL_MODE=false
BROWSER_ALLOWED_HOSTS=
BROWSER_ALLOWED_ORIGINS=
GIT_ALLOWED_HOSTS=github.com,gitlab.com,bitbucket.org
GIT_MAX_ARCHIVE_BYTES=104857600
GIT_MAX_FILES=20000
GIT_TIMEOUT_SECONDS=90
